@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "iconfont";
    src: url('./font/iconfont.eot?t=1502180171486'); /* IE9*/
    src: url('./font/iconfont.eot?t=1502180171486#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/iconfont.woff?t=1502180171486') format('woff'), /* chrome, firefox */
    url('./font/iconfont.ttf?t=1502180171486') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./font/iconfont.svg?t=1502180171486#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
}
h3 {
    margin: 20px 0 75px 0;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    font-style: italic;
    color: #777;
}
h4 {
    margin: 15px 0;
    font-weight: 700;
    font-size: 18px;
}
p {
    color: #777;
    margin: 0 0 10px;
    line-height: 1.5em;
    font-size: 14px;
}
.layout {
    width: 960px;
    margin: 0 auto;
}



/* 导航栏*/
nav {
    width: 100%;;
    background-color: #000;
    position:fixed;
    z-index: 999;
    margin: 0 auto;
}
nav>a {
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-decoration: none;
    margin: 12px;
    display: inline-block;
    font-size: 24px;
    padding: 24px 0;
}
nav ul {
    float: right;
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff; 
    margin-top: 24px;
    margin-right: 30px;
    vertical-align: middle;
}
nav ul li a:hover {
    color: #fed136;
}

header {
    background-image: url(./img/header-bg.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 770px;
}
.header-box {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 300px; 
}
.header-box div {
    color: #fff;
}
.welcome {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
.hello {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 70px;
    font-weight: 700;
    box-sizing: border-box;
}
.header-box a {
    box-sizing: border-box;
    background-color: #fed136;
    border: 1px solid #fed136;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
}



/*sercive*/
.services {
    height: 400px;
    background-color: #fff;
    padding: 150px 0;
}
.services-layout {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.item {
    width: 30%;
    display: inline-block;
}
.item .icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fed136;
    display: inline-block;
    line-height: 100px;
    color: #fff;
    font-size: 60px;
}

/*portfolio*/
.portfolio {
    height: 930px;
    background-color: #f7f7f7;
    padding: 150px 0;
}
.portfolio-container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.portfolio-item {
    display: inline-block;
    width: 300px;
}
.portfolio-item img {
    width:280px;
    float: left;
}
.hidden::after {
    content: "+";
    box-sizing: border-box;
    background-color: rgba(255, 200, 0, .6);
    width: 280px;
    height: 203px;
    line-height: 203px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    display: none;  
    position:absolute;     
    text-decoration: none;
}
.portfolio-item a:hover .hidden::after {
    display: block;
}


/*about*/
.about {
    background-color: #fff;
    height: 1530px;
    padding: 50px 0 150px 0;
}
.about-layout {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.about-items {
    position: relative;
    z-index: 3;
    padding-bottom: 100px;
}
.about-layout img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    display: block;
    border: 7px solid #f1f1f1;
    margin-left: 400px;
}
.xuxian {
    width: 2px;
    background-color: #f1f1f1;
    height: 1150px;
    float: left;
    position: relative;
    left: 50%;
    z-index: 1;
}
.about-items:nth-child(2n) div  {
    width: 40%;
    text-align: right;
    float: left;
}
.about-items:nth-child(2n+1) div  {
    width: 40%;
    text-align: left;
    float: right;
}
.our-story {
    width: 160px;
    height: 160px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #fed136;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.our-story h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 40px 40px;
    color: #fff;
    font-weight: 700;
}


/*team*/
.team {
    background-color: #f7f7f7;
    padding: 150px 0;
}
.team-layout {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.team-items {
    width: 300px;
    display: inline-block;
}
.team-items img {
    border-radius: 100%;
    border: 3px solid #fff;
}
.team-items a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    border-radius: 100%;
}
.team-items a:hover {
    background-color: #fed136;
}
.team-layout>p {
    color: #777;
    margin: 50px auto;
    text-align: center;
    width: 750px;
}



/*contact*/
.contact {
    background-color: #fff;
}
.contact-img{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding:20px;
}
.contact-container {
    background-image: url(./img/map-image.png);
    background-color: #222;
    height: 500px;
    padding-bottom: 150px;
}
.contact-container input[type='text'],
textarea {
    padding: 20px;
    width: 500px;
    border: 1px solid #fed136;
    border-radius: 5px;
    outline: none;
    width: 400px;;
}
.form-left {
    width: 50%;
    float: left;
}
.form-right {
    margin-left: 50%;
}
.form-left input {
    margin-bottom: 10px;
}
.form-left input:last-child {
    margin-bottom: 0;
}
form {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
form>input {
    width: 200px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fed136;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fed136;
}




footer {
    padding: 25px 0;
    text-align: center;
    background-color: #fff;
}
.footer-container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.footer-container span {
    float: left;
}
.footer-container div {
    float: right;
}
.footer-container .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    border-radius: 100%;
}
.footer-container .icon:hover {
    background-color: #fed136;
}
.footer-container>div>a {
    color:#fed136;
    text-decoration: none;
    margin-right: 20px;
}
.footer-container span ,
.footer-container div a ,
.footer-container a {
    vertical-align: middle;
}